# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/

# Flutter build outputs
build/
**/build/

# Android
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/ServiceDefinitions.json

# Web
lib/generated_plugin_registrant.dart

# VS Code
.vscode/

# IntelliJ
.idea/

# macOS
.DS_Store
.macos/

# Logs
*.log

# Environment / Sensitive Files
.env
*.keystore
*.jks
